.container{
    padding-top: 5.5em;
}

.textbox2 {
  
    text-align: left;
    float:left;
    margin-top: 10em;
}
.textbox {
    
    text-align: right;
    float:right;
    margin-top: 10em;
    
    
    
}
.imgbox {
    
    
    float:left;
    display: table-cell; 
    height: auto;
    max-height: 50%;
}
.imgbox2 {
    
    
    float:right;
   
    height: auto;
}