.box11 {
    width: 400px;
    border-color: purple;
    border-width: 5px;
    border-style: solid;
    padding: 30px 50px;
    margin: 150px 20px;
}
.box22 {
    border-color: powderblue;
    border-width: 10px;
    border-style: solid;
    padding: 60px 50px;
    margin: 200px 100px;                
}
.box222 {
    text-align: right;
    margin-left: auto;
    padding-right: 100px;
}
#hh1{
    margin-bottom: 3rem;
}
.row .h5{
    
    margin-bottom: 2rem;
}
.row .h1{
    margin-bottom: 2rem;
}
.textbox2 {
    padding-left: 5rem;
    text-align: left;
    float:left;
    
}
.textbox {
   padding-right: 5rem;
    text-align: right;
    float:right;
}
.imgbox {
    
    
    float:left;
   
    height: auto;
}
.imgbox2 {
    
    
    float:right;
   
    height: auto;
}