#card1 {
    max-width: 1200px;
}
.card-text{
    font-size:.9rem;
    padding: 2rem 1rem .8rem .1rem;
    line-height: 1.6;
   
    
}
.card-body{
    padding:3rem 0 !important;
}
@media screen and (max-width:767px) {
    .img-fluid{
        margin-top: .5rem;
        max-height: 70%;
        width: 100%;
      
    }
    .card-body{
        padding: .1rem 0 !important;
    }
 
}
@media screen and (min-width:992px) {
    .img-fluid{
        max-height: 85%;
       width: auto;
    }
}

@media screen and (min-width:1200px) {
    .img-fluid{
        max-height: 100%;
       width: auto;
    }
}
