#card1 {
    width: auto;
}
.card-text{
    font-size:.9rem;
    padding: 2rem 1rem .8rem .1rem;
    line-height: 1.6;
   
    
}
.card-body{
    padding:3rem 0 !important;
}
@media screen and (max-width:767px) {
    .img-fluid{
        max-height: 70%;
        width: 100%;
      
    }
 
}
@media screen and (min-width:992px) {
    .img-fluid{
        max-height: 60%;
       width: auto;
    }
}

@media screen and (min-width:1200px) {
    .img-fluid{
        max-height: 100%;
       width: auto;
    }
}
